@model FinalPro.Models.Club

<h1>@ViewData["Title"]</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Contests" asp-action="Index" asp-route-sortBy="@ViewData["SortBy"]">
                    <label asp-for="@Model.Contests!.FirstOrDefault()!.Name" class="form-label"></label>
                </a>
            </th>
            <th>
                <label asp-for="@Model.Contests!.FirstOrDefault()!.Description" class="form-label"></label>

            </th>
            <th>
                <label asp-for="@Model.Contests!.FirstOrDefault()!.Role" class="form-label"></label>
            </th>
            <th>
                <label asp-for="@Model.Contests!.FirstOrDefault()!.Student" class="form-label"></label>
            </th>
            </th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContestId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContestId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>@ViewData["SubTitle"]</h3>
<hr />


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClubId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>